@charset "utf-8";
/* Reset------------------------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,th,td,select,header,nav,section,footer {
	margin: 0;
	padding: 0;
	color: #534f4f;
	line-height: 1.6;
	word-wrap: break-word;
}

address,em,i {
	font-style: normal;
}
strong,th,b {
	font-weight: normal;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	display: none;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}
img {
	border: 0;
}
li {
	list-style-type: none;
}
small{
	font-size: 100%;
	text-decoration: none;
	/*color: #645857;*/
}
iframe {
	border: 0;
}

*, *:before, *:after{
	box-sizing: border-box; 
}	       

/*ここから本文------------------------------------------------------------*/
body {
	text-align: center;
	background-color: #d2ddde;
	
}
/* TOPタイトル画像*/
h1 img{
	width: 90%;
	padding-top: 100px;
}

@media only screen and (min-width:631px){
	h1 img{
		width: 45%;
		padding-top: 30px;
		text-align: center;
		}
	}

/* 入力項目 */	
h2{
	color: #ee7d50;
	font-size: 50px;
	margin-top: 60px;
}
@media only screen and (min-width:631px){
	h2{
		font-size: 55px;
		margin-top: 50px;
	}
}

/* ラジオボタン*/
input#rejibukuroRadiobuttonNeed {
	transform:scale(3.0);

}
input#rejibukuroRadiobuttonNoneed {
	transform:scale(3.0);
}
input#poitCardRadiobuttonNeed {
	transform:scale(3.0);
}
input#poitCardRadiobuttonNoneed {
	transform:scale(3.0);
}
.radio01{
	font-size: 40px;
}
input#rejibukuroRadiobuttonNoneed{
	margin-left: 120px;
}
.radio02{
	font-size: 40px;
}
input#poitCardRadiobuttonNoneed{
	margin-left: 90px;
}


/* 入力フォーム */
.cp_iptxt {
	position: relative;
	width: 80%;
	margin: 20px 3%;
	margin-left: auto;
	margin-right: auto;
	
}
.cp_iptxt input[type='text'] {
	font: 35px/30px sans-serif;
	box-sizing: border-box;
	width: 80%;
	padding: 0.8em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #525050;
	border: 5px solid #4e4d4d;
	box-shadow: 1px 1px 2px 0 #dfdddc inset;
	border-radius: 20px;
}
.ef input[type='text']:focus {
	outline: none;
	box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

p#output-message01{
	font-size: 80px;
    color: #888181;
}

p#output-message02{
	font-size: 80px;
    color: #888181;
}

/* 回転ボタン */
.turnBtn {
	padding-top: 70px;

}
/* 表示ボタン */
.btn01 {
	padding-top: 50px;
}


span.btn--orange {
  color: #fff;
	background-color: #ee7d50;
	font-size: 60px;
	text-decoration: none;
}

span.btn--orange:hover {
  color: #fff;
  background: #ee7d50;
}

span.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

span.btn--circle {
  border-radius: 50%;
  line-height: 200px;
  width: 100px;
  height: 100px;
  padding: 80px 50px;
}

/* secondPage */
#secondPage {
	height: 70%;
}

#secondPage img{
	padding-top: 20px;
}
.order01 img {
	width: 40%;
}
.order02 img {
	width: 40%;
}

@media only screen and (min-width:800px){
	.order01 img {
		width: 80%;
		}
	}
@media only screen and (min-width:800px){
	.order02 img {
		width: 80%;
	}
}

/* turnPage */
#turnPage{
	padding-top: 60px;
  padding-bottom: 60px;
}
/* コピーライト */
footer{
	position: absolute;
	bottom: 0; left: 0; right: 0;
	color: #ee7d50;
}
